.maindiv
{

}
.maindiv img{
    width: 596px;
    height: 410px;
    padding: 5px;
    margin-right: 20px;
    margin: 10px;
}
.secdiv
{
    display: inline-block;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    
    .maindiv img{
        
        width: 340px;
        height: 175px;
    }
   

}
@media screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .maindiv {
        width: 90%;

    }
    .maindiv div {
     

    }
   
    
}